[Desktop Entry]
Version=1.0
Name=Pizcoin Core
Comment=Connect to the Pizcoin P2P Network
Comment[de]=Verbinde mit dem Pizcoin peer-to-peer Netzwerk
Comment[fr]=Pizcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pizcoin, eşten eşe kriptografik sanal para birimi
Exec=pizcoin-qt %u
Terminal=false
Type=Application
Icon=pizcoin128
MimeType=x-scheme-handler/pizcoin;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Pizcoin-qt
