policy_module(pizcoin, 1.100.1)

########################################
#
# Declarations
#

type pizcoin_t;
type pizcoin_exec_t;
init_daemon_domain(pizcoin_t, pizcoin_exec_t)

permissive pizcoin_t;

type pizcoin_initrc_exec_t;
init_script_file(pizcoin_initrc_exec_t)

type pizcoin_conf_t;
files_type(pizcoin_conf_t)

type pizcoin_var_lib_t;
files_type(pizcoin_var_lib_t)

type pizcoin_var_run_t;
files_type(pizcoin_var_run_t)

type pizcoin_port_t;
corenet_port(pizcoin_port_t)

########################################
#
# pizcoin local policy
#
allow pizcoin_t self:process { fork };

allow pizcoin_t self:fifo_file rw_fifo_file_perms;
allow pizcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(pizcoin_t, pizcoin_conf_t, pizcoin_conf_t)
manage_files_pattern(pizcoin_t, pizcoin_conf_t, pizcoin_conf_t)

manage_dirs_pattern(pizcoin_t, pizcoin_var_lib_t, pizcoin_var_lib_t)
manage_files_pattern(pizcoin_t, pizcoin_var_lib_t, pizcoin_var_lib_t)
files_var_lib_filetrans(pizcoin_t, pizcoin_var_lib_t, { dir file })

manage_dirs_pattern(pizcoin_t, pizcoin_var_run_t, pizcoin_var_run_t)
manage_files_pattern(pizcoin_t, pizcoin_var_run_t, pizcoin_var_run_t)

sysnet_dns_name_resolve(pizcoin_t)
corenet_all_recvfrom_unlabeled(pizcoin_t)

allow pizcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(pizcoin_t)
corenet_tcp_sendrecv_generic_node(pizcoin_t)
corenet_tcp_sendrecv_all_ports(pizcoin_t)
corenet_tcp_bind_generic_node(pizcoin_t)

gen_require(`
    type pizcoin_port_t;
')
allow pizcoin_t pizcoin_port_t:tcp_socket name_bind;

gen_require(`
    type pizcoin_port_t;
')
allow pizcoin_t pizcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(pizcoin_t)

files_read_etc_files(pizcoin_t)

miscfiles_read_localization(pizcoin_t)

sysnet_dns_name_resolve(pizcoin_t)

allow pizcoin_t pizcoin_exec_t:file execute_no_trans;
allow pizcoin_t self:process setsched;
corecmd_exec_ls(pizcoin_t)
corenet_tcp_connect_http_port(pizcoin_t)
dev_read_urand(pizcoin_t)
fs_getattr_xattr_fs(pizcoin_t)
kernel_read_system_state(pizcoin_t)
