
## <summary>policy for pizcoin</summary>


########################################
## <summary>
##	Transition to pizcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`pizcoin_domtrans',`
	gen_require(`
		type pizcoin_t, pizcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, pizcoin_exec_t, pizcoin_t)
')


########################################
## <summary>
##	Execute pizcoin server in the pizcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pizcoin_initrc_domtrans',`
	gen_require(`
		type pizcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, pizcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search pizcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pizcoin_search_lib',`
	gen_require(`
		type pizcoin_var_lib_t;
	')

	allow $1 pizcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read pizcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pizcoin_read_lib_files',`
	gen_require(`
		type pizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, pizcoin_var_lib_t, pizcoin_var_lib_t)
')

########################################
## <summary>
##	Manage pizcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pizcoin_manage_lib_files',`
	gen_require(`
		type pizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, pizcoin_var_lib_t, pizcoin_var_lib_t)
')

########################################
## <summary>
##	Manage pizcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pizcoin_manage_lib_dirs',`
	gen_require(`
		type pizcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, pizcoin_var_lib_t, pizcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a pizcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`pizcoin_admin',`
	gen_require(`
		type pizcoin_t;
		type pizcoin_initrc_exec_t;
		type pizcoin_var_lib_t;
	')

	allow $1 pizcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, pizcoin_t)

	pizcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 pizcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, pizcoin_var_lib_t)

')

